:root {
  --c1: #031725;
  --c2: #022f5b;
  --c3: #499bec;
  --c4: #a0c6f5;
  --c5: #dbe9ff;

  --background-header-color: var(--c3);
  --background-main-color: var(--c1);
  --background-form-color: var(--c2);
  --text-color: var(--c5);
}
