@import 'colors.scss';
@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  background-color: var(--background-main-color);
}

input {
  background-color: var(--background-form-color);
}

.label-float {
  position: relative;
  padding-top: 12px;
}

.label-float input {
  border: none;
  border-radius: 5px;
  width: 100%;
  outline: none;
  min-width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.1s linear !important;
  -webkit-transition: all 0.1s linear !important;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

.label-float input:focus {
  border: none;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background-color: var(--background-form-color);
  padding: 0px 10px;
}

.label-float input:focus:required:invalid {
  border: 2px solid var(--background-form-color);
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  top: -2px;
  color: var(--text-color);
}

button {
  background-color: var(--background-header-color);
  width: 100%;
  border: none;
  outline: none;
  transition: all;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

button:hover {
  background-color: var(--background-form-color);
  width: 100%;
  border: none;
  outline: none;
}
